@page
@model EncomendasProject.Pages.Worker.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>WorkerModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WorkerModel.Name" class="control-label"></label>
                <input asp-for="WorkerModel.Name" class="form-control" />
                <span asp-validation-for="WorkerModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkerModel.WorkerNumber" class="control-label"></label>
                <input asp-for="WorkerModel.WorkerNumber" class="form-control" />
                <span asp-validation-for="WorkerModel.WorkerNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkerModel.Shift" class="control-label"></label>
                <select asp-for="WorkerModel.Shift" class="form-control" asp-items="Model.ShiftsList"></select>
                <span asp-validation-for="WorkerModel.Shift" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkerModel.Job" class="control-label"></label>
                <select asp-for="WorkerModel.Job" class="form-control" asp-items="Model.JobsList"></select>
                <span asp-validation-for="WorkerModel.Job" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
